<!--
<div class="row alerts-container" data-ng-controller="AlertsCtrl" data-ng-show="alerts.length">
  <div class="col-xs-12">
    <uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
  </div>
</div>

<div class="row">
	<div class="col-lg-3 col-md-6 col-xs-12" ng-controller="UserCtrl">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-users"></i>
				</div>
				<div class="title">{{usernum}}</div>
				<div class="comment">
					<a href="#user">用户</a>
				</div>
			</rd-widget-body>
		</rd-widget>
	</div>

	<div class="col-lg-3 col-md-6 col-xs-12" ng-controller="LotCtrl">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon orange pull-left">
					<i class="fa fa-sitemap"></i>
				</div>
				<div class="title">{{lotnum}}</div>
				<div class="comment">
					<a href="#lot">停车场</a>
				</div>
			</rd-widget-body>
		</rd-widget>
	</div>

	<div class="col-lg-3 col-md-6 col-xs-12" ng-controller="OrderCtrl">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left">
					<i class="fa fa-tasks"></i>
				</div>
				<div class="title">{{ordernum}}</div>
				<div class="comment">
					<a href="#order">订单</a>
				</div>
			</rd-widget-body>
		</rd-widget>
	</div>

	<div class="col-lg-3 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon blue pull-left">
					<i class="fa fa-support"></i>
				</div>
				<div class="title">扫描</div>
				<div class="comment">
					<a href="#qrCode">二维码</a>
				</div>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>

<div class="row">
	<div class="col-lg-6" ng-controller="UserCtrl">
		<rd-widget>
			<rd-widget-header icon="fa-users" title="用户">
				&lt;!&ndash;<button ng-click="search()" class="btn btn-sm btn-info">查看</button>&ndash;&gt;
				<input type="text" placeholder="搜索" class="form-control input-sm" />
			</rd-widget-header>
			<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table st-table="rowCollection" class="table">
						<thead>
						<tr>
							&lt;!&ndash;<th st-sort = "id">用户ID</th>&ndash;&gt;

							<th st-sort =  "phone">手机号码</th>

							<th st-sort = "carid">车辆牌照</th>
							<th st-sort = "state">账户余额</th>
						</tr>

						&lt;!&ndash;<tr><th class="text-center">ID</th><th>Username</th><th>Role</th><th>Account</th></tr>&ndash;&gt;
						</thead>
						<tbody>
						<tr ng-repeat="row in rowCollection">
							&lt;!&ndash;<td>{{row.id}}</td>&ndash;&gt;

							<td>{{row.phonenum}}</td>

							<td>{{row.carid}}</td>
							<td>{{row.state | currency}}</td>
						</tr>
						</tbody>
					</table>
				</div>
			</rd-widget-body>
			<rd-widget>
	</div>
	<div class="col-lg-6" ng-controller="OrderCtrl">
		<rd-widget>
      		<rd-widget-header icon="fa-tasks" title="订单">
				&lt;!&ndash;<a href="#">管理</a>&ndash;&gt;
      		</rd-widget-header>
      		<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table st-table="rowCollection" class="table">
						<thead>
						<th st-sort = "id">订单号</th>
						<th st-sort = "userid">用户ID</th>
						&lt;!&ndash;<th st-sort = "parkid">停车场号</th>&ndash;&gt;
						&lt;!&ndash;<th st-sort = "parkspaceid">停车位号</th>&ndash;&gt;
						<th st-sort = "entertime">停入时间</th>
						&lt;!&ndash;<th st-sort = "isleave">是否离开</th>&ndash;&gt;
						<th st-sort = "leavetime">离开时间</th>
						<th st-sort = "charge">收费</th>
						</thead>
						<tbody>
						<tr ng-repeat="row in rowCollection">
							<td>{{row.id}}</td>
							<td>{{row.userid}}</td>
							&lt;!&ndash;<td>{{row.parkid}}</td>&ndash;&gt;
							&lt;!&ndash;<td>{{row.parkspaceid}}</td>&ndash;&gt;
							<td>{{row.entertime}}</td>
							&lt;!&ndash;<td data-ng-model="parseDate(new Date(Date.parse(row.entertime)))"></td>&ndash;&gt;
							&lt;!&ndash;<td>{{row.isleave}}</td>&ndash;&gt;
							<td>{{row.leavetime}}</td>
							<td>{{row.charge}}</td>
						</tr>
						</tbody>
					</table>
				</div>
			</rd-widget-body>
		</rd-widget>
	</div>

</div>

<div class="row" ng-controller="LotCtrl">
	<div class="col-lg-6">
   		<rd-widget>
   			<rd-widget-header icon="fa-plus" title="停车场">
   				&lt;!&ndash;<button class="btn btn-sm btn-info" >测试</button>&ndash;&gt;
   			</rd-widget-header>
   			<rd-widget-body>
				<table st-table="rowCollection" class="table">
					<thead>
					<tr>
						<th st-sort = "id">停车场ID</th>
						<th st-sort = "name">名称</th>
						<th st-sort = "address">地址</th>
						<th st-sort = "hourcharge">收费</th>
						&lt;!&ndash;<th st-sort = "longitude">经度</th>&ndash;&gt;
						&lt;!&ndash;<th st-sort = "latitude">纬度</th>&ndash;&gt;
						<th st-sort = "spacenum">停车位个数</th>
					</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in rowCollection">
							<td>{{row.id}}</td>
							<td>{{row.name}}</td>
							<td>{{row.address}}</td>
							<td>{{row.hourcharge}}元/小时</td>
							<td>{{row.spacenum}}</td>
						</tr>
					</tbody>
				</table>
   			</rd-widget-body>
   		</rd-widget>
	</div>

	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-cog fa-spin" title="轻松一刻">
				&lt;!&ndash;<a href="http://tobiasahlin.com/spinkit/" target="_blank">实时记录</a>&ndash;&gt;
			</rd-widget-header>
			<rd-widget-body>
				<rd-loading></rd-loading>

			</rd-widget-body>
		</rd-widget>
	</div>
</div>-->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <!--<ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        &lt;!&ndash;<li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>&ndash;&gt;
    </ol>-->

    <!-- Wrapper for slides -->
    <!--<div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="img/parking.jpg" alt="1 slide">
            &lt;!&ndash;<div class="carousel-caption">
                ...
            </div>&ndash;&gt;
        </div>-->

        <div class="item">
            <img src="img/parking2.jpg" alt="1slide">

        </div>
        <div class="carousel-caption">
        <h1>欢迎进入停车场</h1>
            <p>小组成员：文炫达，朱闻东，周拂晓</p>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<style>
    .carousel{
        height: 500px;
        background-color: #1b1e21;

    }
    .carousel .item{
        height: 500px;
        background-color: #1b1e21;

    }
    .carousel img{
        width: 100%;

    }
</style>