<div class="col-xs-12">
    <uib-alert  type="success" >停车场管理：包括停车场的增删改查</uib-alert>
</div>
    <div class="col-xs-12">
        <rd-widget >
            <rd-widget-header icon="fa-tasks" title="停车场查询">
                <button class="btn btn-sm btn-info" style="width:25%;margin-left: 0%" ng-click="search()">查询</button>
                <button class="btn btn-sm btn-info" style="width:25%;margin-left: 40%;background-color: transparent;border-color: #d9edf7;color: black;" ng-click="changeView()">{{listMessage}}</button>
            </rd-widget-header>

                <div class="table-responsive" ng-show="listshow">
                    <table st-table="rowCollection" class="table">
                            <thead>
                            <tr>
                                <th colspan="2">
                                    <input st-search="id" placeholder="按ID查询" class="input-sm form-control" type="search"/>
                                </th>
                                <th colspan="2">
                                    <input st-search="name" placeholder="按名称查询" class="input-sm form-control" type="search"/>
                                </th>
                                <th colspan="2">
                                    <input st-search="price" placeholder="按小时收费查询" class="input-sm form-control" type="search"/>
                                </th>
                                <th colspan="6">
                                    <input st-search placeholder="全局查询" class="input-sm form-control" type="search"/>
                                </th>
                            </tr>
                            <tr>
                                <th st-sort = "id">停车场ID</th>
                                <th st-sort = "name">名称</th>
                                <th st-sort = "address">地址</th>
                                <th st-sort = "price">收费</th>
                                <th st-sort = "left">停车位个数</th>
                                <th>停车位管理</th>
                                <th>编辑</th>
                                <th>删除</th>
                            </tr>

                            </thead>
                            <tbody>
                            <tr ng-repeat="row in rowCollection">
                                <td>{{row.id}}</td>
                                <td>{{row.name}}</td>
                                <td>{{row.address}}</td>
                                <td>{{row.price}}元/小时</td>
                                <td>{{row.left}}</td>
                                <td><button ng-click="manage(row)">管理</button> </td>
                                <td><button ng-click="editLot(row)">编辑</button></td>
                                <td><button ng-click="deleteLot(row)">删除</button></td>
                            </tr>
                            </tbody>
                        </table>
                </div>

        </rd-widget>
    </div>

    <div class="col-lg-12">
        <rd-widget>
            <rd-widget-header icon="fa-plus" title="停车场新增">
                <a ui-sref="addlot" style="margin-left: 40%">添加</a>
            </rd-widget-header>

        </rd-widget>
    </div>

    <div class="col-lg-12">
        <rd-widget>

        </rd-widget>
    </div>

<!--</div>-->

